---
title: Onboarding
layout: 'base.njk'
css: '/home.css'
---

<section>
    <article>
        <img src="/progress.svg" alt="Progress bar">
        <div class="progress-text">
            <p>Today's listening</p>
            <h1>00:00</h1>
            <p>Of your 5-minute goal</p>
        </div>
    </article>
    <article>
        <img src="/characters/rat.svg" alt="Rat character"/>
    </article>
    <Menu/>
</section>

<script>
    import Menu from '../../components/menu.svelte';
</script>