---
title: Languages
layout: 'base.njk'
css: '/languages.css'
---


<section>
<h1>We are going to learn!</h1>
<p>Now it is time to pick the language(s) your child will learn. You can pick a <strong>maximum of 3</strong> languages.</p>

<input type="text" placeholder="Search language">
<div class="lijntje"></div>

  <ul>
    {% for language in languages %}
      <li>
         <input class="radio" type="checkbox" id="language-{{ language.id }}" name="language" value="{{ language.name }}">
        <label for="language-{{ language.id }}"><strong>{{ language.name }}</strong></label>
      </li>
    {% endfor %}
  </ul>

<input type="submit" value="Continue">

</section>
