---
title: Sign up
layout: 'base.njk'
css: '/sign-up.css'
---

<section class="sign-up">
    <div class="heading">
        <a href="/onboarding-3">back</a>
        <h1 class="h1-black">Sign up</h1> 
    </div>
   
    <form>
        <label for="fname">Name</label>
            <input type="text" id="fname" name="fname" placeholder="Your name" aria-label="name">
        <label for="lname">Email</label>
            <input type="text" id="lname" name="lname" placeholder="Your email" aria-label="email">
        <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="Password (atleast 8 characters)" aria-label="password">

        <article>
            <div>
                <label class="switch">
                    <input type="checkbox" aria-label="toggle-button">
                    <span class="slider round"></span>
                </label>

                <p class="label-p">Agree to the terms of services and the privacy policy <a href="/click" class="click-here">(click here for more information)</a></p>
            </div>
    
            <div>
                <label class="switch">
                    <input type="checkbox" aria-label="toggle-button">
                    <span class="slider round"></span>
                </label>

                <p class="label-p">Agree to share data with research universities and participate in research <a href="/" class="click-here">(click here for more information)</a></p>
            </div>
        </article>

        {# <input type="submit" value="Sign up!" class="sign-upbtn"> #}
        <a href="/playlist" class="sign-upbtn">Sign up!</a>
    </form>
</section>